
/* TYPOGRAPHY WITH NO CLASS */
h3 {
    font-family: 'Montserrat', sans-serif;;
    font-size: 2.5em;
    font-weight: 700;
    color: #ee839c;
    text-align: center;
    letter-spacing: 10px;
    padding-top: 30px;
}

/* HEADER CONTENT */
#navbar-content {
    margin: 20px 100px auto 100px;
}

.navbar {
    padding: 20px;
}

.navbar-logo img {
    width: 80px;
    height: 80px;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;;
    font-size: 1em;
    font-weight: 500;
    color: #ff8c00;
    font-weight: 500;
}

.navbar-collapse {
    justify-content: flex-end;
}

/* HERO CONTENT*/
#hero-content {
    padding-bottom: 30px;
}
.hero-title {
    padding-top: 100px;
}

.hero-title h1 {
    font-family:'Bebas Neue', cursive;;
    font-size: 3em;
    font-weight: 200;
    color: #ff8c00;
    letter-spacing: 8px;
}

.hero-title p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    color: #000000;
    padding-bottom: 20px;
}

/*PROJECTS CONTENT */

/* FOOTER CONTENT*/
.footer-content {
    text-align: center;
    padding-top: 40px;
}

.footer-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.8em;
    font-weight: 300;
    text-align: center;
    color: #ee839c;
    font-weight: 600;
}

.social-icons img {
    width: 40px;
}

.copyright {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    font-weight: 300;
    color: #ee839c;
    text-align: center;
}

/* RESUME BUTTON*/
.resume-button {
  background-color: transparent;
  border: 1px solid #ff8c00;
  box-sizing: border-box;
  color: #ff8c00;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding-top: 90px;
  position: relative;
  text-align: center;
}

.resume-button:hover,
.resume-button:active {
  outline: 0;
}

.resume-button:hover {
  background-color: transparent;
  cursor: pointer;
}

.resume-button:before {
  background-color: white;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.resume-button:hover:before {
  background-color: #ffd6a3;
}

@media (min-width: 768px) {
  .resume-button {
    padding: 16px 32px;
  }
}

@media only screen and (max-width: 768px) {
        .flexContainer {
          flex-direction: column;
        }

        .skill-container {
            flex-direction:column;
            width: 100%;
        }

        .workGrid {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        }

  }